.quiz-container {
  /* max-width: 500px;
  min-width: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  height: 600px;
  width: 800px;
  color: var(--text);
  font-size: 24px;
  font-weight: 400;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: var(--light);
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: var(--text);
  font-size: medium;
  background: var(--main);
  border: 5px solid var(--dark);
  border-radius: 16px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: var(--light);
  /* border: 5px solid var(--light); */
}

.quiz-container button {
  background: var(--light);
  border-radius: 9px;
  font-size: 18px;
  color: var(--text);
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: var(--main);
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
  color: var(--light);
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: var(--light);
  font-size: 22px;
}
