:root {
    --dark-two: #1E1E1E;
    --dark-one: #2C3333;
    --medium-two: #646565;
    --medium-one: #146E72;
    --light: #CBE4DE;
}

box {
    position: absolute;
    width: 1280px;
    height: 500px;
    left: 0px;
    top: 0px;
}

title {
    color: var(--light);
    height: 200px;
    text-align: center;
    padding-top: 55px;
}